.container1 {
    position: relative;
    width: 430px;
    height: 540px;
    top: auto;
    left: auto;
    border-radius: 25px;
    background: #FAFAFA;
    display: grid;
  /* grid-template-rows: auto auto auto auto; 
  grid-template-columns: 1fr; 
  gap: 10px;  */

  grid-template-areas:
  "header"
  "main"
  "separator"
  "footer";
  }
  
  .container2 {
    grid-area: header;
    width: 430px;
    height: 65.26px;
    top: 10px; 
    left: 0;
    display: flex;
    align-items: center;
    border-radius: 25px 25px 0 0;
    background: #CE5151;
    /* grid-row: 1; 
    grid-column: span 1;  */
  }

  .container3 {
    grid-area: main;
    /* grid-row: 2; 
    grid-column: span 1;  */
    padding: 10px; 
    display: grid;
    align-items: center;
    overflow-y: auto;
    max-height: calc(580px - 10px);
    
    width: auto;
  }
  
  .group1 {
    width: 45px;
    height: 45px;
    position: relative;
    top: 3px; 
    left: 20px; 
    border: 1px solid #FFFFFF;
    border-radius: 50%;
  }

  
  .text1 {
    width: 58px;
    height: 15.5px;
    position: relative;
    top: -5px;
    left: 35px; 
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    grid-row:1;
    grid-column: span 1;
  }
  .eclipse {
    width: 10px;
    height: 10px;
    position: relative;
    top: 13px;
    left: -22px;
    border: 1px;
    background: linear-gradient(0deg, #81C784, #81C784),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    grid-row:2;
    grid-column: span 1;
  }

  .text2 {
    width: 36px;
    height: 12.24px;
    position: relative;
    top: 13px;
    left: -20px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #E9E9E9;
    grid-row:2;
    grid-column: span 1;
  }
  
.logout {
    width: 70px;
    height: 25px;
    position:relative;
    top: 7px;
    left: 180px;
    border-radius: 6px;
    background-color: rgb(54, 53, 53);
    color: white;

}

.container4 {
  grid-area: footer;
    display: flex;
    align-items: center;
    /* grid-row: 5; 
    grid-column: span 1;  */
    padding: 10px;
}

.lineSeparator {
    grid-area: separator;
    position:absolute;
    width: 100%;
    top: 144px;
    left: 0px;
    border: 1px;
    rotate: -0 deg;
    background: #ACACAC;
    border: 1px solid #ACACAC;
    height: 1px;
}
.textBootom{
    width: 343px;
    height: 16px;
    position: relative;
    top: 30px;
    left: 15px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #5E5E5E;
    border: none;
    outline: none;
}
   
.buttomBootom {
    width: 20px;
    height: 16.32px;
    position: relative;
    top: 30px;
    left: 25px;
    color: #0295FF;

}

.containerChat1 {
    width: 255px;
    height: 45px;
    top: 388.27px;
    left: 440px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 10px;
}

.iconChat1{
    background-color:#f3a4f3;
    border-radius: 50%;
    margin-right: 15px; 
}

.chat1{
    background-color: #ACACAC;
    display: inline-block;
    white-space: nowrap; /* Evitar que el texto se envuelva */
    padding: 10px;
    border-radius: 5px;
    font-family: Roboto;
}
.containerChat2 {
    width: 128px;
    height: 28.55px;
    top: 443.73px;
    left: 703px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: auto;
    
}
.chat2{
    background-color: #ACACAC;
    display: inline-block;
    white-space: nowrap; /* Evitar que el texto se envuelva */
    padding: 10px;
    border-radius: 5px;
    position: relative;
    background-color: #ACACAC;
     margin-left: auto; 
     background-clip: padding-box;
     background-color: rgb(121, 20, 215);
    color: #E9E9E9;
    font-family: Roboto;
}
.containerChat1 ul,
.containerChat2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.containerChat1 li,
.containerChat2 li {
    margin-left: 0; /* Ajusta según sea necesario */
}


@media (min-width: 768px) {
  .container1 {
    max-width: 768px; /* Ajusta el ancho máximo para tabletas */
  }
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
  .container1 {
    max-width: 100%; /* Haz que el contenedor ocupe el 100% del ancho de la pantalla en dispositivos móviles */
    border-radius: 0; /* Elimina el borde redondeado en dispositivos móviles si lo deseas */
  }

  .container2,
  .container3,
  .container4 {
    width: 100%; /* Asegúrate de que estos elementos ocupen el 100% del ancho del contenedor en dispositivos móviles */
  }

  .lineSeparator {
    top: 180px; /* Ajusta la posición del separador si es necesario en dispositivos móviles */
  }

  .containerChat1,
  .containerChat2 {
    width: 100%; /* Asegúrate de que estos elementos ocupen el 100% del ancho del contenedor en dispositivos móviles */
  }

  .chat2 {
    width: 100%; /* Asegúrate de que el chat2 ocupe el 100% del ancho del contenedor en dispositivos móviles */
    margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles si lo deseas */
  }
}